extends ../../../client/layout

block content
  h1= title
  form(method='POST' action='')
    input(type='hidden' name='deletionComments' value=data.deletionComments)
    input(type='hidden' name='name' value=data.name)
    input(type='hidden' name='description' value=data.description)
    input(type='hidden' name='price' value=data.price)
    input(type='hidden' name='quantity' value=data.quantity)
    input(type='hidden' name='reorderLevel' value=data.reorderLevel)
    input(type='hidden' name='reorderQuantity' value=data.reorderQuantity)
    input(type='hidden' name='createdAt' value=data.createdAt)
    input(type='hidden' name='updatedAt' value=data.updatedAt)
    input(type='hidden' name='deletionComments' value=data.deletionComments)
    button(type='submit') Confirm UnDeletion
  if errors
    ul
      for error in errors
        li!= error.msg
