extends ../../../client/layout

block content
  h1= title
  form(method='POST' action='')
    label(for='name') Name:
      input(type='text' placeholder='Name' name='name' value=data.name)
    label(for='description') Description:
      input(type='text' placeholder='Description' name='description' value=data.description)
    label(for='price') Price:
      input(type='number' step='any' placeholder='Price' name='price' value=data.price)
    label(for='quantity') Quantity:
      input(type='number' placeholder='Quantity' name='quantity' value=data.quantity)
    label(for='reorderLevel') Reorder Level:
      input(type='number' placeholder='Reorder Level' name='reorderLevel' value=data.reorderLevel)
    label(for='reorderQuantity') Reorder Quantity:
      input(type='number' placeholder='Reorder Quantity' name='reorderQuantity' value=data.reorderQuantity)
    input(type='hidden' name='createdAt' value=data.createdAt)
    input(type='hidden' name='deletionComments' value=data.deletionComments)
    button(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg
